In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Read the csv file of our data set
data_trees = pd.read_csv('./data_100000.csv', skipinitialspace=True)
df = data_trees.copy() # Make a copy of data set
df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [3]:
# To see the columns names
df.columns

Index(['created_at', 'tree_id', 'block_id', 'the_geom', 'tree_dbh',
       'stump_diam', 'curb_loc', 'status', 'health', 'spc_latin', 'spc_common',
       'steward', 'guards', 'sidewalk', 'user_type', 'problems', 'root_stone',
       'root_grate', 'root_other', 'trnk_wire', 'trnk_light', 'trnk_other',
       'brnch_ligh', 'brnch_shoe', 'brnch_othe', 'address', 'zipcode',
       'zip_city', 'cb_num', 'borocode', 'boroname', 'cncldist', 'st_assem',
       'st_senate', 'nta', 'nta_name', 'boro_ct', 'state', 'latitude',
       'longitude', 'x_sp', 'y_sp'],
      dtype='object')

In [4]:
# Drop some columns
df = df.drop(columns=['the_geom', 'stump_diam', 'spc_latin',
                      'problems', 'address', 'zip_city', 'cb_num',
                      'borocode', 'boroname', 'cncldist',
                      'st_assem', 'st_senate', 'nta', 'boro_ct', 
                      'state', 'x_sp', 'y_sp'], axis=1)

In [5]:
# create the dictionary with the old and new names
new_names = {'tree_dbh': 'tree_diameter', 'curb_loc': 'curb_location',
             'spc_common': 'species_common_name', 'trnk_wire': 'trunk_wire',
             'trnk_light': 'trunk_light', 'trnk_other': 'trunk_other',
             'brnch_ligh': 'branch_light', 'brnch_shoe': 'branch_sneakers',
             'brnch_othe': 'branch_other'}
print(new_names)
print(type(new_names))

{'tree_dbh': 'tree_diameter', 'curb_loc': 'curb_location', 'spc_common': 'species_common_name', 'trnk_wire': 'trunk_wire', 'trnk_light': 'trunk_light', 'trnk_other': 'trunk_other', 'brnch_ligh': 'branch_light', 'brnch_shoe': 'branch_sneakers', 'brnch_othe': 'branch_other'}
<class 'dict'>

In [6]:
# Rename the columns
df = df.rename(columns=new_names)

print(df.columns)

Index(['created_at', 'tree_id', 'block_id', 'tree_diameter', 'curb_location',
       'status', 'health', 'species_common_name', 'steward', 'guards',
       'sidewalk', 'user_type', 'root_stone', 'root_grate', 'root_other',
       'trunk_wire', 'trunk_light', 'trunk_other', 'branch_light',
       'branch_sneakers', 'branch_other', 'zipcode', 'nta_name', 'latitude',
       'longitude'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   created_at           100000 non-null  object
 1   tree_id              100000 non-null  int64
 2   block_id             100000 non-null  int64
 3   tree_diameter        100000 non-null  int64
 4   curb_location        100000 non-null  object
 5   status               100000 non-null  object
 6   health               95007 non-null   object
 7   species_common_name  95008 non-null   object
 8   steward              95008 non-null   object
 9   guards               95008 non-null   object
 10  sidewalk             95008 non-null   object
 11  user_type            100000 non-null  object
 12  root_stone           100000 non-null  object
 13  root_grate           100000 non-null  object
 14  root_other           100000 non-null  object
 15  trunk_wire           100000 non-null  object
 16  trunk_light          100000 non-null  object
 17  trunk_other          100000 non-null  object
 18  branch_light         100000 non-null  object
 19  branch_sneakers      100000 non-null  object
 20  branch_other         100000 non-null  object
 21  zipcode              100000 non-null  int64
 22  nta_name             100000 non-null  object
 23  latitude             100000 non-null  float64
 24  longitude            100000 non-null  float64
dtypes: float64(2), int64(4), object(19)
memory usage: 19.1+ MB

In [8]:
df.shape

(100000, 25)

In [9]:
# To identify duplicate values in our data set
duplicate_rows = df[df.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicate_rows)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [created_at, tree_id, block_id, tree_diameter, curb_location, status, health, species_common_name, steward, guards, sidewalk, user_type, root_stone, root_grate, root_other, trunk_wire, trunk_light, trunk_other, branch_light, branch_sneakers, branch_other, zipcode, nta_name, latitude, longitude]
Index: []

[0 rows x 25 columns]

In [10]:
# To see the statistics values of data set
df.describe()

,tree_id,block_id,tree_diameter,zipcode,latitude,longitude
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,233739.450830,289398.957140,11.261710,10824.773880,40.711146,-73.927091
std,42482.723266,122324.350099,8.544646,835.683247,0.089480,0.115706
min,7.000000,100002.000000,0.000000,83.000000,40.498466,-74.254385
25%,208734.750000,212550.000000,5.000000,10309.000000,40.637960,-73.977336
50%,235822.500000,305825.000000,10.000000,11208.000000,40.723607,-73.938527
75%,264692.250000,347898.500000,16.000000,11356.000000,40.770754,-73.849516
max,318496.000000,516315.000000,425.000000,11697.000000,40.912807,-73.700488

In [11]:
# To check how many values are per columns unique with the help of function
def value_count(data):
    for item in range(len(data)):
        print(f"Value counts from column ** {df.columns[item]} ** returns: \n {df[df.columns[item]].value_counts()}\n")

value_count(df.columns)

Value counts from column ** created_at ** returns:
 09/23/2015    3916
09/25/2015    3723
09/16/2015    3558
10/01/2015    3040
09/15/2015    2946
              ...
06/07/2015       2
06/14/2015       2
05/30/2015       1
06/05/2015       1
05/31/2015       1
Name: created_at, Length: 146, dtype: int64

Value counts from column ** tree_id ** returns:
 262144    1
267688    1
200139    1
204233    1
202184    1
         ..
211890    1
205745    1
207792    1
250799    1
264191    1
Name: tree_id, Length: 100000, dtype: int64

Value counts from column ** block_id ** returns:
 111782    100
111771     92
415469     71
415792     58
210467     57
         ...
302024      1
407413      1
401264      1
402399      1
401404      1
Name: block_id, Length: 19472, dtype: int64

Value counts from column ** tree_diameter ** returns:
 4      8389
3      7473
5      5921
11     5794
2      5484
       ...
71        1
72        1
76        1
91        1
255       1
Name: tree_diameter, Length: 77, dtype: int64

Value counts from column ** curb_location ** returns:
 OnCurb            96129
OffsetFromCurb     3871
Name: curb_location, dtype: int64

Value counts from column ** status ** returns:
 Alive    95008
Stump     2831
Dead      2161
Name: status, dtype: int64

Value counts from column ** health ** returns:
 Good    72340
Fair    17266
Poor     5401
Name: health, dtype: int64

Value counts from column ** species_common_name ** returns:
 London planetree    11976
honeylocust         10648
Callery pear         8886
pin oak              7748
Norway maple         5925
                    ...
European alder          5
Atlas cedar             5
Osage-orange            4
Scots pine              3
Virginia pine           2
Name: species_common_name, Length: 125, dtype: int64

Value counts from column ** steward ** returns:
 None       65996
1or2       24170
3or4        4500
4orMore      342
Name: steward, dtype: int64

Value counts from column ** guards ** returns:
 None       78958
Helpful    10244
Harmful     4552
Unsure      1254
Name: guards, dtype: int64

Value counts from column ** sidewalk ** returns:
 NoDamage    65686
Damage      29322
Name: sidewalk, dtype: int64

Value counts from column ** user_type ** returns:
 Volunteer           45924
TreesCount Staff    37363
NYC Parks Staff     16713
Name: user_type, dtype: int64

Value counts from column ** root_stone ** returns:
 No     75740
Yes    24260
Name: root_stone, dtype: int64

Value counts from column ** root_grate ** returns:
 No     99043
Yes      957
Name: root_grate, dtype: int64

Value counts from column ** root_other ** returns:
 No     93909
Yes     6091
Name: root_other, dtype: int64

Value counts from column ** trunk_wire ** returns:
 No     97838
Yes     2162
Name: trunk_wire, dtype: int64

Value counts from column ** trunk_light ** returns:
 No     99794
Yes      206
Name: trunk_light, dtype: int64

Value counts from column ** trunk_other ** returns:
 No     94332
Yes     5668
Name: trunk_other, dtype: int64

Value counts from column ** branch_light ** returns:
 No     90049
Yes     9951
Name: branch_light, dtype: int64

Value counts from column ** branch_sneakers ** returns:
 No     99935
Yes       65
Name: branch_sneakers, dtype: int64

Value counts from column ** branch_other ** returns:
 No     94751
Yes     5249
Name: branch_other, dtype: int64

Value counts from column ** zipcode ** returns:
 11230    3817
10306    3391
11426    2226
11215    1957
11375    1933
         ...
10115       3
10048       3
11697       2
11436       2
11417       1
Name: zipcode, Length: 185, dtype: int64

Value counts from column ** nta_name ** returns:
 Bellerose                              3149
Glen Oaks-Floral Park-New Hyde Park    2409
Queens Village                         2198
Forest Hills                           2086
Upper West Side                        2081
                                       ...
Baisley Park                             11
Starrett City                             7
South Jamaica                             4
Co-op City                                3
Ozone Park                                3
Name: nta_name, Length: 188, dtype: int64

Value counts from column ** latitude ** returns:
 40.615966    17
40.787504     7
40.570737     2
40.772930     2
40.615542     2
             ..
40.621603     1
40.838958     1
40.631299     1
40.605445     1
40.726334     1
Name: latitude, Length: 99799, dtype: int64

Value counts from column ** longitude ** returns:
 -73.956801    17
-73.784502     7
-73.967057     2
-73.955477     2
-74.000303     2
              ..
-73.734352     1
-73.916459     1
-74.136918     1
-73.840939     1
-73.783262     1
Name: longitude, Length: 99771, dtype: int64

In [12]:
df.dtypes

created_at              object
tree_id                  int64
block_id                 int64
tree_diameter            int64
curb_location           object
status                  object
health                  object
species_common_name     object
steward                 object
guards                  object
sidewalk                object
user_type               object
root_stone              object
root_grate              object
root_other              object
trunk_wire              object
trunk_light             object
trunk_other             object
branch_light            object
branch_sneakers         object
branch_other            object
zipcode                  int64
nta_name                object
latitude               float64
longitude              float64
dtype: object

In [13]:
# Change created_at data type from object to datetime
df['created_at'] = pd.to_datetime(df['created_at'])

In [15]:
df.dtypes

created_at             datetime64[ns]
tree_id                         int64
block_id                        int64
tree_diameter                   int64
curb_location                  object
status                         object
health                         object
species_common_name            object
steward                        object
guards                         object
sidewalk                       object
user_type                      object
root_stone                     object
root_grate                     object
root_other                     object
trunk_wire                     object
trunk_light                    object
trunk_other                    object
branch_light                   object
branch_sneakers                object
branch_other                   object
zipcode                         int64
nta_name                       object
latitude                      float64
longitude                     float64
dtype: object

In [17]:
# Fill a missing values 

df['health'] = df['health'].replace(" ", np.NaN)
df['species_common_name'] = df['species_common_name'].replace(" ", np.NaN)
df['steward'] = df['steward'].replace(" ", np.NaN)
df['guards'] = df['guards'].replace(" ", np.NaN)
df['sidewalk'] = df['sidewalk'].replace(" ", np.NaN)

In [18]:
df.isnull().sum()

created_at                0
tree_id                   0
block_id                  0
tree_diameter             0
curb_location             0
status                    0
health                 4993
species_common_name    4992
steward                4992
guards                 4992
sidewalk               4992
user_type                 0
root_stone                0
root_grate                0
root_other                0
trunk_wire                0
trunk_light               0
trunk_other               0
branch_light              0
branch_sneakers           0
branch_other              0
zipcode                   0
nta_name                  0
latitude                  0
longitude                 0
dtype: int64

In [19]:
# To change all categorical values into title case
df = df.applymap(lambda value: value.title() if type(value) == str else value)

In [20]:
# setting to display all columns
pd.set_option("Display.max_columns", None)

In [21]:
def change_classification(data):
    if data == 'Yes':
        return 1
    elif data == 'No':
        return 0

In [22]:
df['root_stone'] = df['root_stone'].apply(lambda data: change_classification(data))
df['root_grate'] = df['root_grate'].apply(lambda data: change_classification(data))
df['root_other'] = df['root_other'].apply(lambda data: change_classification(data))
df['trunk_wire'] = df['trunk_wire'].apply(lambda data: change_classification(data))
df['trunk_light'] = df['trunk_light'].apply(lambda data: change_classification(data))
df['trunk_other'] = df['trunk_other'].apply(lambda data: change_classification(data))
df['branch_light'] = df['branch_light'].apply(lambda data: change_classification(data))
df['branch_sneakers'] = df['branch_sneakers'].apply(lambda data: change_classification(data))
df['branch_other'] = df['branch_other'].apply(lambda data: change_classification(data))

In [23]:
df.head()

,created_at,tree_id,block_id,tree_diameter,curb_location,status,health,species_common_name,steward,guards,sidewalk,user_type,root_stone,root_grate,root_other,trunk_wire,trunk_light,trunk_other,branch_light,branch_sneakers,branch_other,zipcode,nta_name,latitude,longitude
0,2015-08-27,180683,348711,3,Oncurb,Alive,Fair,Red Maple,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11375,Forest Hills,40.723092,-73.844215
1,2015-09-03,200540,315986,21,Oncurb,Alive,Fair,Pin Oak,None,None,Damage,Treescount Staff,1,0,0,0,0,0,0,0,0,11357,Whitestone,40.794111,-73.818679
2,2015-09-05,204026,218365,3,Oncurb,Alive,Good,Honeylocust,1Or2,None,Damage,Volunteer,0,0,0,0,0,0,0,0,0,11211,East Williamsburg,40.717581,-73.936608
3,2015-09-05,204337,217969,10,Oncurb,Alive,Good,Honeylocust,None,None,Damage,Volunteer,1,0,0,0,0,0,0,0,0,11211,East Williamsburg,40.713537,-73.934456
4,2015-08-30,189565,223043,21,Oncurb,Alive,Good,American Linden,None,None,Damage,Volunteer,1,0,0,0,0,0,0,0,0,11215,Park Slope-Gowanus,40.666778,-73.975979

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   created_at           100000 non-null  datetime64[ns]
 1   tree_id              100000 non-null  int64
 2   block_id             100000 non-null  int64
 3   tree_diameter        100000 non-null  int64
 4   curb_location        100000 non-null  object
 5   status               100000 non-null  object
 6   health               95007 non-null   object
 7   species_common_name  95008 non-null   object
 8   steward              95008 non-null   object
 9   guards               95008 non-null   object
 10  sidewalk             95008 non-null   object
 11  user_type            100000 non-null  object
 12  root_stone           100000 non-null  int64
 13  root_grate           100000 non-null  int64
 14  root_other           100000 non-null  int64
 15  trunk_wire           100000 non-null  int64
 16  trunk_light          100000 non-null  int64
 17  trunk_other          100000 non-null  int64
 18  branch_light         100000 non-null  int64
 19  branch_sneakers      100000 non-null  int64
 20  branch_other         100000 non-null  int64
 21  zipcode              100000 non-null  int64
 22  nta_name             100000 non-null  object
 23  latitude             100000 non-null  float64
 24  longitude            100000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(13), object(9)
memory usage: 19.1+ MB

In [25]:
# Round the decimal for latitude and longitude
columns_round = ['latitude', 'longitude']
df[columns_round] = df[columns_round].round(8)

In [26]:
# Add leading zeros to the integer columns

df['tree_diameter'] = df['tree_diameter'].apply(lambda x: '{0:0>2}'.format(x))

In [31]:
df.loc[600:650]

,created_at,tree_id,block_id,tree_diameter,curb_location,status,health,species_common_name,steward,guards,sidewalk,user_type,root_stone,root_grate,root_other,trunk_wire,trunk_light,trunk_other,branch_light,branch_sneakers,branch_other,zipcode,nta_name,latitude,longitude
600,2015-08-22,165611,216089,10,Oncurb,Alive,Good,Sweetgum,None,None,Nodamage,Nyc Parks Staff,0,0,0,0,0,0,0,0,0,11222,Greenpoint,40.726361,-73.946359
601,2015-08-27,179248,409827,09,Oncurb,Alive,Good,Sweetgum,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,10314,New Springville-Bloomfield-Travis,40.592842,-74.163537
602,2015-08-24,171141,349991,15,Oncurb,Alive,Fair,Sophora,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11691,Far Rockaway-Bayswater,40.595427,-73.758252
603,2015-09-01,195309,102083,14,Oncurb,Alive,Good,Sophora,None,None,Damage,Volunteer,0,0,1,0,0,0,0,0,1,10011,West Village,40.735708,-73.998179
604,2015-08-30,189962,107175,09,Oncurb,Alive,Good,Sophora,3Or4,Helpful,Damage,Volunteer,0,0,0,0,0,0,0,0,0,10065,Lenox Hill-Roosevelt Island,40.763623,-73.963889
605,2015-09-01,194356,303511,10,Oncurb,Alive,Good,Sophora,None,None,Damage,Treescount Staff,1,0,0,0,0,0,0,0,0,11101,Hunters Point-Sunnyside-West Maspeth,40.742430,-73.928265
606,2015-08-29,185063,505656,02,Oncurb,Alive,Good,Sophora,1Or2,None,Damage,Volunteer,0,0,0,0,0,0,0,0,0,10458,Fordham South,40.859097,-73.892550
607,2015-08-19,158174,230591,30,Oncurb,Alive,Good,Tulip-Poplar,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11226,Flatbush,40.639041,-73.960072
608,2015-08-22,165576,348315,06,Oncurb,Alive,Fair,Norway Maple,None,None,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,11375,Forest Hills,40.716505,-73.833193
609,2015-08-27,179430,305826,18,Oncurb,Alive,Good,Norway Maple,None,None,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,11432,Jamaica Estates-Holliswood,40.725722,-73.788176
610,2015-08-23,169605,312175,10,Oncurb,Alive,Good,Norway Maple,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,1,0,0,11354,Flushing,40.760898,-73.821824
611,2015-08-21,164689,505190,05,Oncurb,Alive,Fair,Norway Maple,1Or2,None,Nodamage,Volunteer,1,0,0,0,0,1,1,0,0,10457,East Tremont,40.847975,-73.893522
612,2015-08-29,186050,301625,20,Oncurb,Alive,Good,Norway Maple,None,None,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,11370,Steinway,40.769669,-73.890838
613,2015-09-01,195966,108021,08,Oncurb,Alive,Good,Callery Pear,3Or4,Harmful,Damage,Volunteer,0,0,0,0,0,1,0,0,1,10028,Upper East Side-Carnegie Hill,40.780417,-73.960075
614,2015-08-27,180679,348711,03,Oncurb,Alive,Good,Callery Pear,None,None,Damage,Treescount Staff,0,0,0,0,0,0,0,0,0,11375,Forest Hills,40.723229,-73.843754
615,2015-09-07,208530,103974,18,Oncurb,Alive,Good,Callery Pear,1Or2,None,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,10019,Clinton,40.764380,-73.989271
616,2015-08-31,192177,203625,09,Oncurb,Alive,Good,Callery Pear,1Or2,None,Nodamage,Treescount Staff,0,0,1,0,0,0,0,0,0,11209,Bay Ridge,40.621178,-74.037681
617,2015-08-29,183689,410525,10,Oncurb,Alive,Fair,Callery Pear,None,None,Damage,Treescount Staff,1,0,0,0,0,1,1,0,0,10312,Annadale-Huguenot-Prince'S Bay-Eltingville,40.527007,-74.166701
618,2015-09-06,205683,106362,07,Oncurb,Alive,Good,Callery Pear,3Or4,Helpful,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,10023,Lincoln Square,40.780613,-73.984157
619,2015-08-31,192713,102154,12,Oncurb,Alive,Good,Callery Pear,1Or2,Helpful,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,10014,West Village,40.737912,-74.001997
620,2015-09-03,200503,210289,04,Oncurb,Alive,Good,Callery Pear,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11229,Madison,40.604731,-73.938537
621,2015-08-29,185604,505750,08,Oncurb,Alive,Good,Callery Pear,None,None,Damage,Volunteer,1,0,0,0,0,0,0,0,0,10458,Belmont,40.859458,-73.885583
622,2015-09-04,201478,338001,08,Oncurb,Alive,Good,Callery Pear,1Or2,None,Nodamage,Nyc Parks Staff,1,0,0,0,0,0,0,0,0,11694,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,40.577086,-73.850700
623,2015-08-26,178575,105639,10,Oncurb,Alive,Good,Ginkgo,1Or2,Helpful,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,10016,Murray Hill-Kips Bay,40.748654,-73.977959
624,2015-08-26,178582,308594,23,Oncurb,Alive,Fair,Ginkgo,None,None,Nodamage,Treescount Staff,1,0,0,1,0,0,1,0,0,11421,Woodhaven,40.688325,-73.866559
625,2015-08-30,190241,106490,08,Oncurb,Alive,Good,Honeylocust,None,None,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,10024,Upper West Side,40.785902,-73.972461
626,2015-08-27,179547,103388,04,Oncurb,Alive,Good,Honeylocust,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,10002,Chinatown,40.719910,-73.990054
627,2015-09-07,208409,345647,09,Oncurb,Alive,Good,Ginkgo,None,None,Nodamage,Volunteer,1,0,0,0,0,1,0,0,0,11385,Ridgewood,40.708670,-73.914851
628,2015-08-27,181001,226283,07,Oncurb,Alive,Good,Japanese Zelkova,None,None,Nodamage,Volunteer,1,0,0,0,0,0,0,0,0,11238,Crown Heights North,40.675246,-73.960011
629,2015-08-27,179447,230453,04,Oncurb,Alive,Good,Northern Red Oak,1Or2,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11210,Flatbush,40.637491,-73.955789
630,2015-08-31,192569,302968,02,Oncurb,Dead,NaN,NaN,NaN,NaN,NaN,Volunteer,0,0,0,0,0,0,0,0,0,11377,Hunters Point-Sunnyside-West Maspeth,40.738044,-73.921552
631,2015-08-27,179766,230466,00,Oncurb,Stump,NaN,NaN,NaN,NaN,NaN,Treescount Staff,0,0,0,0,0,0,0,0,0,11210,Flatbush,40.637379,-73.953814
632,2015-08-31,191379,104299,05,Oncurb,Alive,Fair,Japanese Zelkova,1Or2,Harmful,Damage,Volunteer,0,0,0,0,0,0,0,0,1,10010,Gramercy,40.739861,-73.985362
633,2015-08-31,191380,104299,06,Oncurb,Alive,Fair,Japanese Zelkova,1Or2,Harmful,Damage,Volunteer,0,0,0,0,0,0,0,0,1,10010,Gramercy,40.739888,-73.985425
634,2015-08-27,180619,348834,00,Oncurb,Stump,NaN,NaN,NaN,NaN,NaN,Treescount Staff,0,0,0,0,0,0,0,0,0,11375,Forest Hills,40.725300,-73.839376
635,2015-08-29,184295,505610,00,Oncurb,Dead,NaN,NaN,NaN,NaN,NaN,Volunteer,0,0,0,0,0,0,0,0,0,10458,Belmont,40.857876,-73.887850
636,2015-09-08,208828,107238,00,Oncurb,Stump,NaN,NaN,NaN,NaN,NaN,Volunteer,0,0,0,0,0,0,0,0,0,10065,Lenox Hill-Roosevelt Island,40.764914,-73.960857
637,2015-08-27,179748,348463,20,Oncurb,Dead,NaN,NaN,NaN,NaN,NaN,Treescount Staff,0,0,0,0,0,0,0,0,0,11375,Forest Hills,40.721514,-73.836307
638,2015-08-08,127639,220990,04,Oncurb,Alive,Good,Black Oak,None,None,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,11221,Stuyvesant Heights,40.688026,-73.938963
639,2015-08-28,181973,337808,00,Oncurb,Stump,NaN,NaN,NaN,NaN,NaN,Nyc Parks Staff,0,0,0,0,0,0,0,0,0,11694,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,40.571331,-73.858072
640,2015-09-01,194456,341542,03,Oncurb,Alive,Good,Japanese Zelkova,1Or2,Helpful,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11370,Jackson Heights,40.758382,-73.887839
641,2015-09-08,208821,107238,11,Oncurb,Alive,Good,Honeylocust,3Or4,Harmful,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,10065,Lenox Hill-Roosevelt Island,40.764398,-73.959633
642,2015-09-03,200699,215932,17,Oncurb,Alive,Good,Ginkgo,1Or2,Unsure,Nodamage,Volunteer,1,0,0,0,0,0,0,0,0,11222,Greenpoint,40.723094,-73.947624
643,2015-08-27,179841,348465,03,Oncurb,Alive,Good,Crab Apple,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11375,Forest Hills,40.719463,-73.835822
644,2015-09-08,209053,415850,12,Oncurb,Alive,Good,Honeylocust,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,10306,Oakwood-Oakwood Beach,40.558964,-74.106124
645,2015-08-30,189903,223586,17,Oncurb,Alive,Good,Ginkgo,1Or2,None,Damage,Volunteer,0,0,0,0,0,0,0,0,0,11217,Park Slope-Gowanus,40.676652,-73.973878
646,2015-09-06,206413,342814,02,Oncurb,Alive,Good,Ginkgo,3Or4,Helpful,Nodamage,Volunteer,0,0,0,0,0,0,0,0,0,11368,Corona,40.737269,-73.859401
647,2015-08-29,187059,106107,06,Oncurb,Alive,Good,Honeylocust,1Or2,Helpful,Nodamage,Nyc Parks Staff,0,1,0,0,0,1,0,0,1,10023,Lincoln Square,40.770182,-73.981109
648,2015-09-04,201816,338314,02,Offsetfromcurb,Alive,Poor,American Linden,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11694,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,40.583419,-73.824160
649,2015-08-30,189367,223743,09,Oncurb,Alive,Good,Honeylocust,3Or4,Helpful,Damage,Volunteer,0,0,0,0,0,0,0,0,0,11217,Prospect Heights,40.676617,-73.972376
650,2015-08-20,161338,230864,09,Oncurb,Alive,Good,Honeylocust,None,None,Nodamage,Treescount Staff,0,0,0,0,0,0,0,0,0,11226,Flatbush,40.648835,-73.964403

In [32]:
df.to_csv(r'./nyc_trees.csv', index=False)